html {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: #f7f7f7;
}
.container {
  display: flex;
  max-width: 1344px;
  margin: 0 auto;
}
.card {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 20px;
}