html {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: #f7f7f7;
}
html, body, ul, li {
  margin: 0;
  padding: 0;
}
li {
  display: block;
}

a {
  text-decoration: none;
  color: #4089ef;
}

.container {
  display: flex;
  max-width: 1344px;
  margin: 0 auto;
}
.card {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 20px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .75s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.child-view {
  width: 100%;
  position: absolute;
  transition: all 0.75s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter-from, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}
.slide-left-leave-active, .slide-right-enter-from {
  opacity: 0;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
}